<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322982009700-g0i9o9k95pk44lgd0otghmf7n2jia8hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322982009700-g0i9o9k95pk44lgd0otghmf7n2jia8hb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322982009700-62fsnkdtocm7ng74ljo6kb6bkrn7a7e0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJhEX8WRk_d0w2BaxrOKg5YtG7mGFAR3E</string>
	<key>GCM_SENDER_ID</key>
	<string>322982009700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eRestaApp</string>
	<key>PROJECT_ID</key>
	<string>resto-finder-d4214</string>
	<key>STORAGE_BUCKET</key>
	<string>resto-finder-d4214.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322982009700:ios:67f66c2a2cfcd7c0593871</string>
</dict>
</plist>